.teammate-search-form {
  width: 100%;
  padding: 27px 0 22px 0;
  background-color: $accent-yellow;
  border-radius: 20px;
}

.teammate-search-form__title {
  color: $twilight-blue;
  font-size: 23px;
  line-height: 1;
  margin-bottom: 19px;
}

.teammate-search-form__content-wrapper {
  padding: 0 26px;
}
